//
   Created by Владелец on 24.12.2016.

doctype html
extends ./index.jade
block append content
   div.container.signup
      h2 User: #{title}
      //h2 Polls: #{polls}
    a(href='/gettradeinfo/'+title)
        button.btn.btn-default.yourTradeRequest Your trade requests
    a(href='/gettraderequestinfo/'+title)
        button.btn.btn-default.tradeRequestFor Trade requests for you

    div.tradeContainer
    form(action="/add" method="POST")
        div.form-group
            label(for="title") Title:
            input(type="text" name="title").form-control#title
        button.btn.btn-default(type="submit") Add
   div.options-submit.row
         - if (books.length)
         -for (var i = 0; i < books.length; i++)
            div.col-md-2
               img(src= books[i])
               a(href="/delete/"+books_titles[i])
                  button.btn.btn-default Delete


