//
   Created by Владелец on 24.12.2016.

doctype html
extends ./index.jade
block append content
   div.container.signup
      h2 User: #{title}
    div.center
        a(href='/gettradeinfo/'+title)
            button.btn.btn-primary.tradeRequest Your trade requests
        a(href='/gettraderequestinfo/'+title)
            button.btn.btn-success.tradeRequest Trade requests for you

    div.tradeContainer.container
            div.col-md-3
            form(action="/add" method="POST")
                div.form-group.row
                    div.col-md-1
                        label(for="title") Title:
                    div.col-md-4
                        input(type="text" name="title").form-control#title
                    div.col-md-1
                        button.btn.btn-default.reload(type="submit") Add
    hr
   div.container.center
         - if (books.length)
         -for (var i = 0; i < books.length; i++)
            div.book
               div
                img(src= books[i])
               div
                a(href="/delete/"+books_titles[i])
                  button.btn.btn-default.reload Delete

    hr
script(src="js/reload.js" type='text/javascript')